<!DOCTYPE html>
<html>
  <head>
    <title>CraigslistClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['maps_api_key'] %>">
    </script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Craigslist Clone', root_path, class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to 'Posts', posts_path %></li>
            <li class="<%= 'active' if current_page?(new_post_path) %>"><%= link_to 'New Post', new_post_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <!-- Search form -->
          <%= form_tag posts_path, :method => 'get', class: 'navbar-form navbar-left' do %>
            <div class='form-group'>
              <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search' %>
            </div>
              <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
          <% end %>
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
  	<div class="container">
  	  <% if notice %>
  	    <p class="alert alert-success"><%= notice %></p>
  	  <% end %>
  	  <% if alert %>
  	    <p class="alert alert-danger"><%= alert %></p>
  	  <% end %>
      <%= yield %>
    </div>
  </body>
</html>
